* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}
a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

header {
    position: fixed;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

.header__logo {
    width: 100vw;
}

@media (max-width: 650px) {
    .header__logo {
      margin-top: 15px;
      width: 100vw;
      position: relative;
    }
  }

  @media (max-width: 650px) {
    .header__logo {
      margin-top: 15px;
      width: 100vw;
      position: relative;
    }
  }
  
  .header__logo > img {
    width: 100vw;
    height: 100%;
    max-width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
  }

  nav {
    font-weight: 400;
  }
  
  @media (max-width: 650px) {
    nav {
      margin-top: 10px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 50px;
    }
    nav li {
      padding-bottom: 5px;
    }
  }
  
  nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  @media (max-width: 650px) {
    nav > ul {
      flex-direction: column;
    }
  }
